<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/edea75cd78.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>Type the location in the box for which you want to get the current forecast.</p>
        <p>Press the Search Button and you will get your forecast :).</p>
    </div>
    
    {{>footer}}
</body>
</html>