<footer>
    <p>Created By <a href="https://github.com/jainanurag941">{{name}}</a></p>
    <a href="https://www.linkedin.com/in/anurag-jain-442ba4190/"><i class="linked fab fa-linkedin"></i></a>
    <a href="https://twitter.com/AnuragJ84147816"><i class="twit fab fa-twitter"></i></a>
    <a href="mailto:jainanurag941@gmail.com"><i class="email fas fa-envelope"></i></a>
</footer>